<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Web tool to download files in the server-side"
    />
    <meta name="author" content="Gabriel Falcao" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Web Downloader</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Web Downloader</h1>
        <p class="lead">
          This is a web application powered by 2 backend components: the web
          application serving this page and a background job to download files
          input below.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row"><div class="col-md">{% include "form.html" %}</div></div>
    </div>
  </body>
</html>
